body{width:100%;}
a.btnRemoveAction{color:#FF7E00;border:0;padding:2px 10px;}
#btnEmpty{  padding: 5px 10px;color: #F0F0F0;background-color: #D83232;}

.btnAddAction{background-color:#79b946;border:0;padding:5px 10px;color:#FFF;width:80px;}
.btnAdded{background-color:#CCC;border:0;padding:5px 10px;color:#FFF;width:80px;}
#cart-grid {border: #EEE 1px solid;display:none;}
#product-grid {border: #EEE 1px solid;height:250px;}
.product-item {	float:left;	background:#F0F0F0;	margin:15px;	padding:5px;}
.product-item div{text-align:center;	margin:10px;}
.product-price {color:#F08426;}
.product-image {height:100px;background-color:#FFF;}
.clear-float{clear:both;}
.cart-action{cursor:pointer;}
#cart-tab{margin: 0;padding: 0;background-color: #93E7FA;height: 40px;}
#cart-tab li{list-style:none; float:left;padding:10px 20px;cursor:pointer;}
#cart-tab li.highlight{background-color:#EEE;}
#cart-item-count{  padding: 1px 5px;background-color: #999;vertical-align: text-bottom;border-radius: 4px;color: #FFF;margin: 0px 4px;}
.quantity{padding:3px;}
.empty_message{padding: 40px;color: #FF0000;text-align: center;}